h1 {
    font-family: YuGo;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.13px;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.04px;
}

big {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.08px;
}

body {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.11px;
    background-color: #fae9e3;
}

caption {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.08px;
}

label {
    font-size: 14px;
    font-weight: bold;
}

carousel-item > img {
    background-size: cover;
    background-position: center center;
    position: relative;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

.carousel-container {
    height: 90vh;
}

.menu-icon::after {
    display:none;
}

#post-create-btn {
    width: 120px;
    height: 120px;
    display: inline-block;
    text-align:center;
    line-height: 120px;
    background-color: #5472eb;
    font-weight: bold;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    border-radius: 50%;
  
    position: fixed;
    bottom: 10%;
    right: 23%;
}

.profile-card{
    height:400px;
}

.osusumeshi-login-input {
    border-radius: 2px;
    border: solid 1px #000000;
}

.osusumeshi-check-label {
    font-size: 12px;
    font-weight: 900;
}

.osusumeshi-login-text {
    color: #08b0d1;
}

.osusumeshi-require-input-label-text {
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    background-color:#d93316;
}

.osusumeshi-posts-input-label {
    font-size: 12px;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    color: white;
    background-color:#d93316;
}

.no-hover-btn {
    pointer-events: none;
    font-size: 20px;
}

.mypage_btn {
    text-decoration: none;
    color:#000000;
    padding: 0 10px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(49, 170, 226) 50%);
    background-position: 0 0;
    background-size: 200% auto;
    transition: .3s;
}
  
.mypage_btn:hover{
    background-position: -100% 0;
    color: #fff;
}

.top_btn{
    text-decoration:none;
    color: #430af0;
}

.top_btn:hover {
    opacity:35%;
}

.osusumeshi-edit-user-info-label {
    margin-bottom:8px;
    font-size: 16px; 
}

.show_password_login_input_btn {
    position:absolute;
    top: 12px;
    right: 6px;
}

.show_password_register_input_btn {
    position:absolute;
    top: 12px;
    right: 18px;
}

.show_password_edit_input_btn {
    position:absolute;
    top: 12px;
    right: 18px;
}

.carousel-label {
    font-size:100px;
    font-family: "Hannari";
    font-weight: 10;
    font-style: normal;
    color:#000000;
    -webkit-text-stroke: 1px #fff;
}
.carousel-label-2 {
    font-size:100px;
    font-family: "Hannari";
    font-weight: 10;
    font-style: normal;
    color:#000000;
    -webkit-text-stroke: 1px #000000;
}


.form-control::placeholder {
    opacity: 0.5;
}

.post-title {
    font-size: 40px;
}

.search-text-wrap{
    display:flex;
    align-items: end;
}

.how-to-use {
    background-color: #f5faf8;
    height: 100px;
    padding: 24px 12px 8px; 
}

.how-to-use-2 {
    background-color: #f5faf8;
    height: 100px;
    padding: 8px 12px;
}

.how-to-use-3 {
    background-color: #f5faf8;
    height: 100px;
    padding: 24px 12px 8px; 
}
.page-number {
    font-size: 24px;
}

.index-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.comment {
    margin-left: 16px;
}

.img_container {
    height: 150px;
    width: 250px;
}

.order_label {
    font-size:18px;
}

.mypage_label {
    font-size:64px;
}

.mypage_label2 {
    font-size: 48px;
}


@media screen and (max-width:767px) {
    .carousel-img {
        border-top: 5px #000000;
        width: 100%;
        height: auto;
    }

    .carousel-container {
        height:auto;
    }

    .search-btn {
        margin-top: 4px;
    }

    .search-btn-wrap {
        margin: 0;
        padding: 0;
    }

    .post-title {
        font-size: 24px;
    }

    .post-btn {
        margin-top: 8px;
    }

    .search-text {
        font-size: 12px;
    }

    .search-text-wrap {
        display:block;
    }

    .how-to-use {
        background-color: #f5faf8;
        height: 80px;
        font-size: 16px;
        padding-top: 16px;
    }

    .how-to-use-2 {
        background-color: #f5faf8;
        height: 80px;
        font-size: 16px;
        padding-top: 12px;
    }

    .how-to-use-3 {
        background-color: #f5faf8;
        height: 80px;
        font-size: 14px;
        padding: 16px 0 8px;
    }

    .no-hover-btn {
        pointer-events: none;
        font-size:14px;
    }

    .carousel-label {
        font-size:25px;
        font-family: "Shippori Mincho B1", serif;
        font-style: normal;
        color:#fff;
        -webkit-text-stroke:0px;
    }
    .carousel-label-2 {
        font-size:25px;
        font-family: "Shippori Mincho B1", serif;
        font-style: normal;
        color:#fff;
        -webkit-text-stroke: 0px;
    }

    .page-number {
        font-size: 18px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 0;
    }

    #post-create-btn {
        width: 60px;
        height: 60px;
        display: inline-block;
        text-align:center;
        line-height: 60px;
        background-color: #5472eb;
        font-weight: bold;
        font-size: 20px;
        color: #000;
        text-decoration: none;
        border-radius: 50%;
      
        position: fixed;
        bottom: 10%;
        right: 10%;
    }

    .comment-title {
        font-size: 20px;
    }

    .comment {
        margin-left:0;
    }

    .order_label {
        font-size:14px;
        justify-content: start;
    }

    .profile_btn {
        font-size: 16px;
        width:100%;
    }

    .mypage_label {
        font-size: 24px;
    }
    .mypage_label2 {
        font-size: 22px;
    }
}
